<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Read-only</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <aside class="menubar">
      <header class="header">
        <img
          class="image"
          src="./img/bear.jfif"
          loading="lazy"
          alt="bearimage"
        />
        <h1>Willis Corto</h1>
        <p><i>I got reprogrammed by a rogue AI and now I'm totally cray</i></p>
      </header>
      <nav>
        <ul class="header navbar">
          <li class="list-item"><a href="#">about</a></li>
          <li class="list-item"><a href="#">things i can do</a></li>
          <li class="list-item"><a href="#">a few accomplishments</a></li>
          <li class="list-item"><a href="#">a few accomplishments</a></li>
          <li class="list-item"><a href="#">contacts</a></li>
        </ul>
      </nav>
      <footer>
        <ul class="header footer">
          <li>
            <a href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="bi bi-github"></i></a>
          </li>
        </ul>
      </footer>
    </aside>
    <section class="container">
      <img src="img/banner.jpg" alt="nature" width="100%" />
      <div class="read-content">
        <h1>read only</h1>
        <h4>
          just an incredibly simple responsive site template freebie by
          <a href="#">HTML5UP</a>
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
          doloribus nihil suscipit dignissimos repellendus reprehenderit eius
          fugit perferendis, necessitatibus eaque officiis quos repellat ullam,
          accusamus ipsum quidem culpa autem neque soluta vitae assumenda? Rerum
          obcaecati suscipit praesentium, vitae tenetur consequatur at tempora
          vero harum reprehenderit aspernatur ratione ipsum. Fugiat, itaque.
        </p>
      </div>
      <div>
        <h1>things i can do</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat,
          fugiat. Alias nihil repudiandae expedita eaque esse asperiores nisi
          dolores laborum!
        </p>
        <div>
          <p>write all the code</p>
          <p>stack mall boxes</p>
          <p>read books and stuff</p>
          <p>drink much coffee</p>
          <p>lighting bolt</p>
          <p>show clone technique</p>
        </div>
      </div>
    </section>
  </body>
</html>
