<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="sticky">
      <nav class="navbar">
        <ul>
          <li><a href="#steller">introduction</a></li>
          <li><a href="#flex">first section</a></li>
          <li><a href="#learn">second section</a></li>
          <li><a href="#">get started</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div id="steller" class="steller-content">
          <i class="bi bi-rocket-fill stellar-icon"></i>
          <h1>stellar</h1>
          <p>
            Just another free, fully responsive site template built by
            <a href="#" target="_self">@ajlkn</a> for <a href="#">HTML5 UP.</a>
          </p>
        </div>
      </section>
      <section>
        <ul id="flex" class="stellar-card">
          <li class="stellar-lstyle style1">
            <i class="bi bi-git steller-icon1"></i>
            <h1>4,230</h1>
            <p>etiam</p>
          </li>
          <li class="stellar-lstyle style2">
            <i class="bi bi-git steller-icon1"></i>
            <h1>5,120</h1>
            <p>Aliqum</p>
          </li>
          <li class="stellar-lstyle style3">
            <i class="bi bi-git steller-icon1"></i>
            <h1>2,140</h1>
            <p>Magma</p>
          </li>
          <li class="stellar-lstyle style4">
            <i class="bi bi-git steller-icon1"></i>
            <h1>3,250</h1>
            <p>tempus</p>
          </li>
        </ul>
      </section>
      <section>
        <div class="solid-card">
          <div id="learn" class="solid-content">
            <img class="image2" src="../img/1.jpg" alt="image" loading="lazy" />
            <div class="content-para">
              <h1>SED FEUGIAT LOREM</h1>
              <p>
                Adipiscing a commodo ante nunc magna lorem et interdum mi ante
                nunc lobortis non amet vis sed volutpat et nascetur.
              </p>
              <!-- <a href="#" class="learn-btn">
                <i class="bi bi-chevron-right"></i>Learn more
              </a> -->
              <button type="submit" class="learn-btn">
                <i class="bi bi-chevron-right"></i>Learn more
              </button>
            </div>
          </div>
          <div class="solid-content">
            <img class="image2" src="../img/1.jpg" alt="image" loading="lazy" />
            <div class="content-para">
              <h1>FUSCE CONSEQUAT</h1>
              <p>
                Adipiscing a commodo ante nunc magna lorem et interdum mi ante
                nunc lobortis non amet vis sed volutpat et nascetur.
              </p>
              <!-- <a href="#" class="learn-btn">
                <i class="bi bi-chevron-right"></i>Learn more
              </a> -->
              <button type="submit" class="learn-btn">
                <i class="bi bi-chevron-right"></i>Learn more
              </button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="proin-section">
          <h1>READY TO DO SOMETHING?</h1>
          <p>
            Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.
          </p>
          <button type="submit" class="btn btn1">take my money</button>
          <button type="submit" class="btn btn2">lol wuit</button>
        </div>
      </section>
      <section>
        <div class="magma-section">
          <h1>Magna veroeros</h1>
          <div class="magma-card">
            <div class="magma-content">
              <i class="bi bi-code-slash icon1"></i>
              <h2>Ipsum consequat</h2>
              <p>
                Sed lorem amet ipsum dolor et amet nullam consequat a feugiat
                consequat tempus veroeros sed consequat.
              </p>
            </div>
            <div class="magma-content">
              <i id="file" class="bi bi-file icon1"></i>
              <h2>Ipsum consequat</h2>
              <p>
                Sed lorem amet ipsum dolor et amet nullam consequat a feugiat
                consequat tempus veroeros sed consequat.
              </p>
            </div>
            <div class="magma-content">
              <i id="gem" class="bi bi-gem icon1"></i>
              <h2>Ipsum consequat</h2>
              <p>
                Sed lorem amet ipsum dolor et amet nullam consequat a feugiat
                consequat tempus veroeros sed consequat.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
