.image-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    background-color: antiquewhite;
    border-radius: 5px; 
    padding:10px 10px;
  }
  
  .image {
    padding: 10px;
    box-sizing: border-box;
    
  }
  
  .image img {
    width: 100%;
    max-width: 100px; 
    height: 100px; 
    border-radius: 5px;

  }
  a:link {
    text-decoration: none;
   
  }
  .image h6 {
    margin-top: 10px;
    font-size: 10px;
    text-align: center; 
    color:black;
  }
  h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  